/* Esto obliga al navegador a que el lienzo sea siempre del tamaño de la pantalla */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh; /* Altura mínima: el 100% de la ventana */
  display: flex;
  flex-direction: column;
}