@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

/* 1. RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. ESTRUCTURA BASE */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  /* El suavizado de fuente estilo Clay.global */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
  /* Si quieres el Footer siempre abajo, usa esto: */
  display: flex;
  flex-direction: column;
}

/* 3. RESETS DE ELEMENTOS */
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Para que el contenido principal crezca y empuje al footer */
main, .home-container {
  flex: 1;
}